

:root {
    --gray-100: #F8F8F8;
    --gray-200: #DBE1E8;
    --gray-300: #B2BECD;
    --gray-400: #6C7983;
    --gray-500: #454E56;
    --gray-600: #282c34;
    --gray-700: #12181B;
    --blue: #0D2C54;
    --purple: #a82dd1;
    --yellow: #FFB400;
    --light: #abb2bf;
    --heading-color: #dee2e6;
    --alpha-200: rgba(0,0,0,.1);
    --alpha-100: rgba(255,255,255,.1);
    --dark-100: #b6bdca;
    --dark-200: #abb2bf;
    --dark-300: #565c64;
    --dark-400: #545862;
    --dark-500: #3e4451;
    --dark-500: #353b45;
    --dark-600: #282c34;
    --base07: #d19a66;
    --base08: #e06c75;
    --base09: #d19a66;
    --base0A: #e5c07b;
    --base0B: #98c379;
    --base0C: #56b6c2;
    --base0D: #61afef;
    --base0E: #c678dd;
    --base0F: #be5046;

}

[data-color-mode=dark]{
    --bg: var(--gray-600);
    --bg-nav: linear-gradient(to right, var(--gray-600), var(--gray-700));
    --bg-dropdown: var(--gray-700);
    --text: var(--light);
    --border-color: var(--purple);
    --bg-solor: var(--blue);
}

[data-color-mode=light] {
    --bg: var(--gray-100);
    --bg-nav: linear-gradient(to right, var(--gray-200), var(--gray-400));
    --bg-dropdown: var(--gray-100);
    --text: var(--gray-700);
    --border-color: var(--blue);
    --bg-solor: var(--yellow);
}


/* Test mode */

.container {
    margin: 5.5rem  2rem;
    padding: 0 2rem;

    /* max-width: 500px; */
    display: grid;
    grid-template-columns: 1fr;
    
}








/* Enf of est mode */

.light {
    --bg: var(--gray-100);
    --bg-nav: linear-gradient(to right, var(--gray-200), var(--gray-400));
    --bg-dropdown: var(--gray-100);
    --text: var(--gray-700);
    --border-color: var(--blue);
    --bg-solor: var(--yellow);
}
.dark {
    --bg: var(--gray-600);
    --bg-nav: linear-gradient(to right, var(--gray-600), var(--gray-700));
    --bg-dropdown: var(--gray-700);
    --text: var(--light);
    --border-color: var(--purple);
    --bg-solor: var(--blue);
}
.solar {
    --gray-100: #FBFFD4;
    --gray-200: #F7F8D0;
    --gray-300: #B6F880;
    --gray-400: #5EC72D;
    --gray-500: #3EA565;
    --gray-600: #005368;
    --gray-700: #003D4C;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--text);
    background: var(--bg);
    transition: background 500ms ease-in-out, color 500ms ease-in-out;
    -webkit-transition: background 500ms ease-in-out, color 500ms ease-in-out;
    -moz-transition: background 500ms ease-in-out, color 500ms ease-in-out;
    -ms-transition: background 500ms ease-in-out, color 500ms ease-in-out;
    -o-transition: background 500ms ease-in-out, color 500ms ease-in-out;
}
h2, h3 {
    color: var(--heading-color);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
a {
    color: currentColor;
    text-decoration: none;
}

.navbar {
    height: 70px;
    width: 100%;
    background: var(--bg-nav);
    color: whitesmoke;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}
header {
    padding: 1em;
    background:var(--bg-nav);
    margin-bottom: 1em;
    padding-bottom: 3.5em;
    text-align: center;
    clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
}

.dropdown {
    position: absolute;
    width: 400px;
    opacity: 0;
    z-index: 2;
    background: rgb(67, 67, 68);
    border-top: 2px solid white;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3rem;
    margin-top: 2rem;
    padding: 0.5rem;
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.175em 0.5em;
    transform: translateX(-40%);
    -webkit-transform: translateX(-40%);
    -moz-transform: translateX(-40%);
    -ms-transform: translateX(-40%);
    -o-transform: translateX(-40%);
    transition: opacity 0.15s ease-out;
    -webkit-transition: opacity 0.15s ease-out;
    -moz-transition: opacity 0.15s ease-out;
    -ms-transition: opacity 0.15s ease-out;
    -o-transition: opacity 0.15s ease-out;
}

.has-dropdown:focus-within .dropdown {
    opacity: 1;
    pointer-events: auto;
}

.dropdown-items a {
    width: 100%;
    height: 100%;
    size: 0.7rem;
    padding-left: 10px;
    font-weight: 900;
}

.dropdown-items a::before {
    content: '';
    border: 2px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

/**        Themes       */






@keyframes color-rotate {
    from {
        filter: hue-rotate(0deg);
        -webkit-filter: hue-rotate(0deg);
}
    to {
        filter: hue-rotate(360deg);
        -webkit-filter: hue-rotate(360deg);
}
}

.logo:hover {
    animation: color-rotate 1s;
    -webkit-animation: color-rotate 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}